#gameboard {
  overflow: hidden ;
}
#board {
  border: 1px solid white ;
  position: absolute ;
  top: 0 ;
  bottom: 0 ;
  left: 0 ;
  right: 0 ;
  margin: auto ;
  width: 1518px ;
  height: 723px ;
  overflow: hidden ;
}
html, body {
  user-select: none ;
  background-color: black ;
  color: white ;
  font-family: 'Press Start 2P', cursive ;
  height: 98% ;
  margin: 4px ;
}
button {
  background-color: black ;
  border: 1px solid white ;
  color: white ;
}
#scoreboard {
  position: absolute ;
  bottom: 10px ;
  right: 10px ;
}
.score-label {
  font-size: 32px ;
}
.score-num {
  font-size: 32px ;
  float: right ;
}
.score-group {
  display: block ;
  width: 300px ;
}
.cent-cont {
  width: 100% ;
  height: 100% ;
  display: table ;
}
.cent {
  text-align: center ;
  font-size: 32px ;
  vertical-align: middle ;
  display: table-cell ;
}
